{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
<div {{ react_component('LoginApp') }}>
        Loading... <i class="fas fa-cog fa-spin fa-3x"></i>
</div>
{% endblock %}
