{% extends 'base.html.twig' %}

{% block title %}Hello PruebaController!{% endblock %}

{% block body %}
    <div {{ react_component('Header') }}>
        Loading... <i class="fas fa-cog fa-spin fa-3x"></i>
    </div>

    <div {{ react_component('Modal') }}></div>

    <div {{ react_component('formulario') }}></div>

    <div class="full-height-map"{{ react_component('Map') }}></div>
{% endblock %}